<table class="listaUsuarios">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Personaje</th>
        </tr>
    </thead>
    <tbody>
{% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.usuario.getUsername }}</td>
        <td>{{ usuario.jugador.getPersonaje }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>