{#<div class="dialog_logearse" id="dialog_login">#}
{% if error %}
    <div style="color: red;">Ha habido un error: {{ error.message }}</div>
{% endif %}
    <form action="{{ path('login_check') }}" method="post" name="formulario_login">
        <label for="username">Usuario:</label>
        <input id="username" type="text" name="_username" value="{{ last_username }}" /><br>
        <label for="password">Contraseña:</label>
        <input id="password" type="password" name="_password" /><br> 
{#        <input type="submit" name="login" class=""/>#}
        <input type="hidden" name="_target_path" value="/listaPartidas">
    </form>
{#</div>#}