header {
    text-align: center;
}

.opciones {
    width: 90%;
    
    left: 5%;
    position: relative;
}

.opciones ul {
    list-style: none;
    
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.opcion {
    width: 50%;
    margin: 0px;
    border: solid 1px;
    background-color: #eee;
    padding: 40px 10px;
    border-radius: 15px;
}

.opcion:hover {
    background-color: #ccc;
    
    border: solid 2px;
    box-shadow: 3px 3px 3px;
    cursor: pointer;
}

.opcion a {
    text-decoration: none;
    width: 100%;
    color: cornflowerblue;
    font-size: 1.5em;
}

.panel_usuario {
    border: solid 1px;
    
    border-radius: 10px 0px 0px 10px;
    background-color: #666;
    color: white;
    position: fixed;
    top: 10px;
    right: -8px;
    width: 161px;
    height: 72px;
    opacity: 0.7;
    text-align: right;
    padding: 15px;
    box-shadow: 5px 5px 5px #222;
    z-index: 1000;
}

.panel_usuario button {
    width: 84px;
    
    height: 32px;
    border-radius: 6px;
}

.listado_partidas ul {
    list-style: none;
}

.partida {
    border: solid 1px;
    border-radius: 8px;
    padding: 15px;
    background-color: aliceblue;
    width: 50%;
    text-align: center;
}

.partida:hover {
    cursor: pointer;
}

.partida a {
    text-decoration: none;
    color: blue;
}

.listaUsuarios {
    width: 100%;
}

.listaUsuarios th {
    border-bottom: solid 1px;
    border-collapse: collapse;
}